# 파이썬 실습
## 1. 데이터 타입
### - 숫자형

In [1]:
a = 1  # 'a'에 1을 할당

In [2]:
print(a)

1

In [3]:
type(a) # 'a'의 데이터 타입을 확인: int(정수)

int

In [4]:
True*100  # Boolean 중 True는 1의 값, False는 0의 값을 지님

100

In [5]:
False*100

0

In [7]:
'True'*100  # 'True'라는 문자열을 100회 반복

'TrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrueTrue'

In [6]:
5%2  # 5를 2로 나눈 나머지

1

In [7]:
144%7  # 144를 7로 나눈 나머지

4

### - 리스트 (list)

In [9]:
x = ['python', 1, 2]  # x라는 이름의 리스트에 값을 부여, 문자열과 숫자형 타입 동시에 포함 가능

In [10]:
print(x)

['python', 1, 2]

In [12]:
dir(x) # dir()은 파이썬의 기본 내장함수로, 인자로 주어진 객체(이 경우 x)가 어떤 변수와 메소드(method)를 지니고 있는지 열거해주는 역할을 수행

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [13]:
? x.append

In [11]:
x.sort()  # 리스트 안에 숫자와 문자열이 함께 포함되어 있기 때문에 에러발생

TypeError: '<' not supported between instances of 'int' and 'str'

In [12]:
y=[10, 2, 5]  # 숫자형 10, 2, 5을 순서대로 리스트 안에 포함

In [13]:
y.sort()  # y라는 리스트 안의 값을 오름차순 정렬

In [14]:
y

[2, 5, 10]

In [15]:
y.sort(reverse = True)  # 내림차순 정렬

In [16]:
y

[10, 5, 2]

In [17]:
z = [3,7,4]

In [18]:
sorted(z)  # sorted()를 이용해 일시적으로 정렬된 결과값을 확인

[3, 4, 7]

In [23]:
z

[3, 7, 4]

### - 문자열 (string)

In [19]:
s = 'Today is a good day'

In [21]:
s.split()  # 공백을 기준으로 문자열 내 단어들을 분리한 후 리스트 타입으로 출력

['Today', 'is', 'a', 'good', 'day']

In [23]:
len('today')

5

In [22]:
len(s.split())  # len()함수를 이용하면 리스트 s 안에 포함된 값들이 몇 개인지 확인

5

In [24]:
s

'Today is a good day'

In [25]:
d = s.split()  # 문자열 s를 공백 기준으로 분리해서 리스트로 출력한 값을 d에 할당

In [26]:
d

['Today', 'is', 'a', 'good', 'day']

In [27]:
s.split('a')  # 문자열을 알파벳 'a'를 기준으로 분리

['Tod', 'y is ', ' good d', 'y']

In [28]:
s

'Today is a good day'

In [29]:
s.replace('a', '')  # 문자열 내의 'a'라는 알파벳을 모두 제거

'Tody is  good dy'

In [30]:
','.join(['Korea', 'Japan', 'China'])  # 리스트 안의 단어들을 하나의 문자열로 통합, 각각의 단어 사이에 ','를 입력

'Korea,Japan,China'

In [31]:
s = 'Tom\'s book'  # 앞에 '\'를 붙여줌으로써 문자열 내의 apostrophe를 의미

In [32]:
s

"Tom's book"

In [33]:
t = 'Today is a good day.\n but rainning'  # '\n'은 줄바꿈을 의미

In [34]:
print(t)

Today is a good day.
 but rainning

In [35]:
'100'*3

'100100100'

In [36]:
s = 'today today is is good'

In [37]:
len(s)

22

In [41]:
words = s.split()

In [39]:
words

['today', 'today', 'is', 'is', 'good']

In [49]:
set(s)

{' ', 'a', 'd', 'g', 'i', 'o', 's', 't', 'y'}

In [40]:
len(words)

5

In [48]:
set(words)  # 집합 자료형은 순서가 없고 중복을 허락하지 않음

{'good', 'is', 'today'}

In [42]:
len(set(words))

3

## 2. 조건문, 반복문

In [43]:
a = 4

In [44]:
a%3

1

In [45]:
if a%3==0:  # 만일, a를 3으로 나눈 후 나머지가 0일 경우
    print(0)  # 0을 출력
else:  # 그외에는
    print(1)  # 1을 출력

1

In [48]:
number_list = [1, 2, 3,-1, 3,4,4,0,5]

In [47]:
test_list = ['one', 'two', 'three'] 

for test in test_list: 
    print(test)

one
two
three

In [66]:
a = [(1,2), (3,4), (5,6)]
for (first, last) in a: 
    print(first + last)

3
7
11

In [58]:
number_list

[1, 2, 3, -1, 3, 4, 4, 0, 5]

In [55]:
total = 0

In [56]:
for k in number_list:  # number_list 내의 값을 순서대로 k에 할당,
    if k < 0:  # k가 0보다 작을 경우,
        continue  # 위로 올라가서 다음 순서 진행
    total = total + k

print(total)

22

In [63]:
total = 0
for k in number_list:  
    if k < 0:  # k가 0보다 작으면,
        break  # for 루프 아예 중단
    total = total + k
print(total)

6

In [57]:
a = 10

In [46]:
while a > 0:
    print(a)
    a = a-1

10
9
8
7
6
5
4
3
2
1

## 3. 함수

In [58]:
def add(a, b): 
    return a + b

In [59]:
a = 3
b = 4

In [60]:
c = add(a, b)
print(c)

7

## 4. 파일 불러오기, 쓰기
### - 쓰기

In [75]:
f = open("tutorial.txt", 'w')

In [76]:
for i in range(1, 11):
    data = str(i) + "번째 줄입니다.\n"
#     data = "%d번째 줄입니다.\n" % i
    f.write(data)

In [77]:
f.close()

In [61]:
with open("tutorial_2.txt", 'w') as f:
    for i in range(1, 11):
        data = str(i) + "번째 줄입니다.\n"
#         data = "%d번째 줄입니다.\n" % i
        f.write(data)

In [80]:
with open("tutorial.txt", 'a') as f:
    for i in range(1, 11):
        data = "%d번째 줄입니다.\n" % i
        f.write(data)

### - 읽기

In [81]:
with open("tutorial.txt", 'r') as f:
    data = f.readline()
    print(data)

1번째 줄입니다.

In [82]:
with open("tutorial.txt", 'r') as f:
    data = f.readlines()
    print(data)

['1번째 줄입니다.\n', '2번째 줄입니다.\n', '3번째 줄입니다.\n', '4번째 줄입니다.\n', '5번째 줄입니다.\n', '6번째 줄입니다.\n', '7번째 줄입니다.\n', '8번째 줄입니다.\n', '9번째 줄입니다.\n', '10번째 줄입니다.\n', '1번째 줄입니다.\n', '2번째 줄입니다.\n', '3번째 줄입니다.\n', '4번째 줄입니다.\n', '5번째 줄입니다.\n', '6번째 줄입니다.\n', '7번째 줄입니다.\n', '8번째 줄입니다.\n', '9번째 줄입니다.\n', '10번째 줄입니다.\n']

In [83]:
with open("tutorial.txt", 'r') as f:
    data = f.read()
    print(data)

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.
1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.